<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>کتابخوان گنجینهٔ گنجور - @ViewData["Title"]</title>

    <!-- JS dependencies -->
    <script src="./BookReader/jquery-1.10.1.js"></script>
    <script src="./BookReader/jquery-ui-1.12.0.min.js"></script>
    <script src="./BookReader/jquery.browser.min.js"></script>
    <script src="./BookReader/dragscrollable-br.js"></script>
    <script src="./BookReader/jquery.colorbox-min.js"></script>
    <script src="./BookReader/jquery.bt.min.js"></script>

    <!-- mmenu library -->
    <link rel="stylesheet" href="./BookReader/mmenu/dist/css/jquery.mmenu.css" />
    <link rel="stylesheet" href="./BookReader/mmenu/dist/addons/navbars/jquery.mmenu.navbars.css" />
    <script src="./BookReader/mmenu/dist/js/jquery.mmenu.min.js"></script>
    <script src="./BookReader/mmenu/dist/addons/navbars/jquery.mmenu.navbars.min.js"></script>

    <!-- BookReader and plugins -->
    <link rel="stylesheet" href="./BookReader/BookReader.css" />
    <script src="./BookReader/BookReader.js"></script>

    <!-- Mobile nav plugin -->
    <script src="./BookReader/plugins/plugin.mobile_nav.js"></script>

    <!-- URL-changing plugin -->
    <script src="./BookReader/plugins/plugin.url.js"></script>
 
    <link rel="stylesheet" href="~/fonts/Samim.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @RenderBody()

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63626-16"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-63626-16');
</script>

</body>
</html>
